branches/cleanup_schlex/data/dtd/configuration.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!ELEMENT configuration (sitename, siteurl, theme, timezone, language, apikey, controlpanel)>
<!ELEMENT sitename (#PCDATA) >
<!ELEMENT siteurl (#PCDATA) >
<!ELEMENT theme (#PCDATA) >
<!ELEMENT timezone (#PCDATA) >
<!ELEMENT language (#PCDATA) >
<!ELEMENT apikey (#PCDATA) >
<!ELEMENT controlpanel (htmleditor?, prettyurls?, permalink) >
<!ELEMENT htmleditor EMPTY >
<!ELEMENT prettyurls EMPTY >
<!ELEMENT permalink (#PCDATA) >
